[build]
  publish = "."
  command = ""

[context.production]
  environment = { NODE_ENV = "production", CHARSET = "utf-8" }

[[headers]]
  for = "/*.js"
  [headers.values]
    Content-Type = "application/javascript; charset=utf-8"

[[headers]]
  for = "/*.html"
  [headers.values]
    Content-Type = "text/html; charset=utf-8"
